# WiFi watchdog timer file.
# /etc/systemd/system/wifi-watchdog.timer
# From https://www.digikey.com/en/maker/tutorials/2026/how-to-keep-a-raspberry-pi-zero-w-or-zero-2-w-reliably-connected-to-wifi

[Unit]
Description=WiFi watchdog for Raspberry Pi
After=network-online.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Persistent=true

[Install]
WantedBy=timers.target
